body {font-family: sans-serif;margin: 20px;
background-color: #c493ec;}
h1 {color: #cae0ee;}nav a {margin-right: 10px;
text-decoration: none;color: #283849;}
footer {margin-top: 20px;
text-align: center;color: #777;}
